<h2>My Slides</h2>

<div>
  <!-- <label>Hero name:
    <input #heroName />
  </label> -->
  <!-- (click) passes input value to add() and then clears the input -->
  <!-- <button (click)="add(heroName.value); heroName.value=''">
    add
  </button> -->
</div>

<ul class="slides">
  <li *ngFor="let slide of slides">
    <a routerLink="/slidedetail/{{slide.slideId}}">
      <span class="badge">{{slide.slideId}}</span> {{slide.slideName}}
    </a>
    <button class="delete" title="delete slide"
    (click)="delete(slide)">x</button>
  </li>
</ul>


<div>
    <app-messages></app-messages>
<div>