
    <div> 
        <!-- <div><span>playing: </span>{{activeSoundtrack.filename}}.{{activeSoundtrack.filetype}}</div> -->

        <audio id="audioPlayer" preload="auto"><source src=""/>Your browser does not support the audio element.</audio>

        <div class="player">
            
            
        
            <p class="track"><span>PG Memories Radio Edit</span></p>
            <button (click)="muteAudio()" data-am-button="small" id="btn-mute">
                <i id="btn-mute-i" class="fa fa-volume-off"></i>
            </button>
            <button (click)="playPauseAudio()" data-am-button="large" id="btn-play-pause">
                <i id="btn-play-i" class="fa fa-play"></i>
            </button>
            <button (click)="stopAudio()" data-am-button="small" id="btn-stop">
                <i id="btn-stop-i" class="fa fa-stop"></i>
            </button>	
        </div>

        <div id="audioPlayerControls" class="container">
            
            <div id="progress-bar">
                <span id="progress"></span>
            </div>	
            <div margin="0,0,10,0">
                <footer class="footer">The track "{{_activeSoundtrack.song}}" by the artist "{{_activeSoundtrack.musician}}"</footer>
            </div>
                
           
        </div>
        
      
            

    </div>

   
 