<div class="container">

    <audio id="audioPlayer" preload="auto"><source src="" />Your browser does not support the audio element.</audio>
    <!-- <div><span>playing: </span>{{activeSoundtrack.filename}}.{{activeSoundtrack.filetype}}</div> -->

    <!-- Player Track -->
    <!-- <div class="row align-items-end">
        <div class="col-1"></div>
        <div class="col-10 text-center">
            <p class="track"><span>PG Memories Radio Edit</span></p>
        </div>
        <div class="col-1"></div>
    </div> -->

    
    <div class="row align-items-end">
        <div class="col-1"></div>
        <!-- Player Buttons -->
        <div class="col-10">
            <div class="text-center">
                <button (click)="muteAudio()" data-am-button="small" id="btn-mute">
                    <i id="btn-mute-i" class="fas fa-volume-off"></i>
                </button>
                <button (click)="playPauseAudio()" data-am-button="large" id="btn-play-pause">
                    <i id="btn-play-i" class="fas fa-play"></i>
                </button>
                <button (click)="stopAudio()" data-am-button="small" id="btn-stop">
                    <i id="btn-stop-i" class="fas fa-stop"></i>
                </button>	
            </div>
            <div class="text-center"></div>
            <div>
                <span id="audioElapsed">0.00</span>
                <span> / </span>
                <span id="audioDuration">0.00</span>
            </div>

             <!-- Progress Bar -->
            <div id="audioPlayerControls">
                <div id="progress-bar" (click)="setCurrentTime($event)">
                    <span id="progress"></span>
                </div>	
                <div margin="0,0,10,0">
                    <footer class="footer text-center">The track "{{_song}}" by the artist "{{_musician}}"</footer>
                </div> 
            </div>
        </div>
        <div class="col-1">
            <!-- <h4>Time remaining: <span id="remaining"></span></h4> -->
        </div>
    </div>

    <!-- Progress Bar -->
    <!-- <div id="foot" class="row align-items-end">
        <div class="col-1"></div>
        <div id="audioPlayerControls" class="col-10">
            <div id="progress-bar" (click)="setCurrentTime($event)">
                <span id="progress"></span>
            </div>	
            <div margin="0,0,10,0">
                <footer class="footer text-center">The track "{{_song}}" by the artist "{{_musician}}"</footer>
            </div> 
        </div>
        <div class="col-1"></div>
    </div> -->
            
</div>
   
 