
<script>
    $('#navId a').click(e => {
      e.preventDefault();
      $(this).tab('show');
    });
  </script>

  <div class="align-items-start text-center p-3">
    <nav>
        <a *ngIf="auth.isLoggedIn()" routerLinkActive="active" routerLink="/slides">Slides</a>
        <a *ngIf="auth.isLoggedIn()" routerLinkActive="active" routerLink="/soundtracks">Soundtracks</a>
        <a *ngIf="auth.isLoggedIn()" routerLinkActive="active" routerLink="/slideshows">Slideshows</a>
        <a *ngIf="auth.isLoggedIn()" routerLinkActive="active" routerLink="/slideplayer/1">SlidePlayer</a>
        <a *ngIf="auth.isLoggedIn()" routerLinkActive="active" routerLink="/audioplayer/1">AudioPlayer</a>
        <a *ngIf="auth.isLoggedIn()" routerLinkActive="active" routerLink="/slideshowplayer/2">SlideshowPlayer</a>
        <a *ngIf="auth.isLoggedIn()" routerLinkActive="active" routerLink="/gallery">Gallery</a>
        <a *ngIf="auth.isLoggedIn()" routerLinkActive="active" routerLink="/musicpicker">Music Picker</a>
        <a *ngIf="auth.isLoggedIn()" routerLinkActive="active" routerLink="/profile">{{ auth.Username }}</a>

        <a *ngIf="!auth.isLoggedIn()" routerLink="/login">Login</a>
        <a *ngIf="auth.isLoggedIn()" (click)="auth.logout()">Logout</a>
       
    </nav>
  </div> 

  <div class="row">
    <div class="col-1"></div>
        <div class="col-10 text-center">
            <router-outlet></router-outlet>
        </div>
    <div class="col-1"></div>
  </div>

