<!-- <label class="label">{{selectedSlideshow.title}}</label> -->

<!-- Slide player -->
<div id="containerDiv" class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
        <app-slideplayer
            (onSlidePreloaded)="onSlidePreloaded($event)">
        </app-slideplayer>
    </div>
    <div class="col-1"></div>
</div>

    <!-- Audio player -->
<div class="fixed-bottom p-3">
    <app-audioplayer 
        [selectedSoundtrackIds]="selectedSoundtrackIds"
        (onAudioPlay)="onAudioPlay($event)"
        (onAudioPause)="onAudioPause($event)"
        (onAudioStop)="onAudioStop($event)"
        (onAudioEnded)="onAudioEnded($event)"
        (onAudioDurationChanged)="onAudioDurationChanged($event)"
        (onAudioElapsedChanged)="onAudioElapsedChanged($event)">
    </app-audioplayer>
</div>
