
 <label class="label">{{selectedSlideshow.title}}</label>

  <!-- Slide player -->
  <table>
      <tr>
          <td>
            <app-slideplayer
                (onSlidePreloaded)="onSlidePreloaded($event)">
            </app-slideplayer>
          </td>
      </tr>
   
      <tr>
        <td>
            <label class="label">slideshow lengh: {{slideshowDuration}}</label>
            <label class="label">slideshow contains {{selectedSlideshowLength}} slides</label>
        </td> 
    </tr>
    <tr>
        <td>
            <label class="label">Slide duration: {{slideDuration}}</label>
            <label class="label">Preload slide number: {{preloadSlideId}}</label>
        </td>
    </tr>
    <!-- Audio player -->
    <tr>
        <td>
            <app-audioplayer 
                [selectedSoundtrackId]="selectedSoundtrackId"
                (onAudioPlay)="onAudioPlay($event)"
                (onAudioPause)="onAudioPause($event)"
                (onAudioStop)="onAudioStop($event)"
                (onAudioDurationChanged)="onAudioDurationChanged($event)">
            </app-audioplayer>
        </td> 
    </tr>   
  </table>
<!-- <div>
    
    <app-slideplayer 
        (onSlidePreloaded)="onSlidePreloaded($event)">
    </app-slideplayer>
</div> -->
<!--      
<label class="label">slideshow lengh: {{slideshowDuration}}</label>
<label class="label">slideshow contains {{selectedSlideshowLength}} slides</label>
<label class="label">Slide duration: {{slideDuration}}</label>
<label class="label">Preload slide number: {{preloadSlideId}}</label> -->

<!-- Audio player -->
<!-- <div>
    <app-audioplayer 
        [selectedSoundtrackId]="selectedSoundtrackId"
        (onAudioPlay)="onAudioPlay($event)"
        (onAudioPause)="onAudioPause($event)"
        (onAudioStop)="onAudioStop($event)"
        (onAudioDurationChanged)="onAudioDurationChanged($event)">
    </app-audioplayer>
</div> -->

