<div class="container">
  <!-- CAROUSEL -->
  <div class="carousel">

    <!-- SLIDES -->
    <div class="slides">

      <div class="items">
        <div class="item"><div class="image" style="background-image:url(./assets/music/prototype/art/Blondie.jpg)"></div> 
          <p class="artist">Musician 1</p><p class="track">Song 1</p>
        </div>
        <div class="item"><div class="image" style="background-image:url(./assets/music/prototype/art/Blur.jpg)"></div> 
          <p class="artist">Musician 2</p><p class="track">Song 2</p>
        </div>
        <div class="item"><div class="image" style="background-image:url(./assets/music/prototype/art/BillyIdol.jpg)"></div>
          <p class="artist">Musician 3</p><p class="track">Song 3</p>
        </div>
        <div class="item"><div class="image" style="background-image:url(./assets/music/prototype/art/Blondie.jpg)"></div> 
          <p class="artist">Musician 4</p><p class="track">Song 4</p>
        </div>
        <div class="item"><div class="image" style="background-image:url(./assets/music/prototype/art/Blondie.jpg)"></div> 
          <p class="artist">Musician 5</p><p class="track">Song 5</p>
        </div>
        <div class="item"><div class="image" style="background-image:url(./assets/music/prototype/art/Blondie.jpg)"></div> 
          <p class="artist">Musician 6</p><p class="track">Song 6</p>
        </div>
        <div class="item"><div class="image" style="background-image:url(./assets/music/prototype/art/Blondie.jpg)"></div> 
          <p class="artist">Musician 7</p><p class="track">Song 7</p>
        </div>
        <div class="item"><div class="image" style="background-image:url(./assets/music/prototype/art/Blondie.jpg)"></div> 
          <p class="artist">Musician 8</p><p class="track">Song 8</p>
        </div>
      </div>
    </div>

    <!-- PREVIOUS - NEXT -->
    <div class="siblings">
      <a href="#" class="sibling prev"></a>
      <a href="#" class="play">
        <i class="fas fa-play-circle fa-2x"></i>
      </a>
      <a href="#" class="sibling next"></a>
    </div>
   
    <div class="seek-bar">
        <div class="progress-bar"></div>
    </div>

  </div>

    <div class="choice">
      <div class="title">
        <p>SONGS</p>
      </div>
      <div class="tracks">
        <div class="track 1">
          <div class="number">1</div>
          <div class="name"><p>Musician 1</p><p class="song">Song 1</p></div>
          <div class="speakers">
            <i [ngClass]="volumeClass"></i>
          </div>
        </div>
        <div class="track 2">
          <div class="number">2</div>
          <div class="name"><p>Musician 2</p><p class="song">Song 2</p></div>
          <div class="speakers invisible">
              <i [ngClass]="volumeClass"></i>
          </div>
        </div>
        <div class="track 3">
          <div class="number">3</div>
          <div class="name"><p>Musician 3</p><p class="song">Song 3</p></div>
          <div class="speakers invisible">
              <i [ngClass]="volumeClass"></i>
          </div>
        </div>
        <div class="track 4">
          <div class="number">4</div>
          <div class="name"><p>Musician 4</p><p class="song">Song 4</p></div>
          <div class="speakers invisible">
              <i [ngClass]="volumeClass"></i>
          </div>
        </div>
        <div class="track 5">
          <div class="number">5</div>
          <div class="name"><p>Musician 5</p><p class="song">Song 5</p></div>
          <div class="speakers invisible">
              <i [ngClass]="volumeClass"></i>
          </div>
        </div>
        <div class="track 6">
          <div class="number">6</div>
          <div class="name"><p>Musician 6</p><p class="song">Song 6</p></div>
          <div class="speakers invisible">
              <i [ngClass]="volumeClass"></i>
          </div>
        </div>
        <div class="track 7">
          <div class="number">7</div>
          <div class="name"><p>Musician 7</p><p class="song">Song 7</p></div>
          <div class="speakers invisible">
              <i [ngClass]="volumeClass"></i>
          </div>
        </div>
        <div class="track 8">
          <div class="number">8</div>
          <div class="name"><p>Musician 8</p><p class="song">Song 8</p></div>
          <div class="speakers invisible">
              <i [ngClass]="volumeClass"></i>
          </div>
        </div>
      </div>
    </div>

    <audio class="music"><source src="" type="audio/mpeg"> Your browser doesn't support audio</audio>

  </div>
